@font-face {
  font-family: "Bender";
  src: url("Bender.eot?") format("eot"),
  url("Bender.woff") format("woff"),
  url("Bender.ttf") format("truetype");
}

li {
    font-family: "Bender";
    color: white;
}

body {
    background-color: black;
}

a {
    color: white;
}

h2{
    color: white;
}

li{
  margin: 10px 0;
}