@font-face {
    font-family: "Bender";
    src: url("Bender.eot?") format("eot"),
    url("Bender.woff") format("woff"),
    url("Bender.ttf") format("truetype");
}

body {
    font-family: "Bender";
    background-color: black;
}

h1{
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}

li{
    margin: 10px 0;
    color: white;
}

a {
    color: white;
}

/*Slider Stuff*/

* {box-sizing: border-box;}
.img-comp-container {
   display: block;
   margin-left: auto;
   margin-right: auto;
  height: 720px; /*should be the same height as the images*/
}
.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
}
.img-comp-img img {
  display:block;
  vertical-align:middle;
}
.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}