@font-face {
    font-family: "Bender";
    src: url("Bender.eot?") format("eot"),
    url("Bender.woff") format("woff"),
    url("Bender.ttf") format("truetype");
}

body {
    font-family: "Bender";
    background-color: black;
}

h2{
    color: white;
}

li{
    margin: 10px 0;
    color: white;
}

a {
    color: white;
}